@import "../layouts/variables.css";

.videoWrapper {
  position: relative;
  padding-top: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  border: none;
}

.greyBackground {
  width: 100vw;
  background-color: lightGrey;
  font-weight: 300;
  padding: gutter;
  margin-left: 50%;
  transform: translateX(-50%);
}


.card {
  background-color: white;
  max-width: maxContentWidth;
  margin: gutter auto;
  padding: gutter;
}

.flexWrapper {
  display: flex;
  margin: gutter;
}
@media (max-width: tablet){
  .flexWrapper {
    flex-wrap: wrap;
  }
}

.curatorImage {
  flex-shrink: 0;
  border-radius: 100%;
  width: 260px;
  height: 260px;
  margin: padding 60px padding 0;
  background-position: center;
  background-size: cover;
}

.partnerWrapper {
  width: 50%;
  padding: gutter;
}
@media (max-width: tablet){
  .partnerWrapper {
    width:100%;
  }
}

.supportWrapper {
  width: 25%;
  padding: gutter;
}
@media (max-width: tablet){
  .supportWrapper {
    width:50%;
  }
}

.partnerWrapper img , .supportWrapper img{
  width: 100%;
}
