@import "variables.css";


:global * {
  box-sizing: border-box;
  margin: 0;
}

/* base font styles */
:global body {
  margin: 0;
  font-size: 18px;
  color: grey;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  overflow-x: hidden;
}

:global a {
  text-decoration: none;
  color: grey;
}

:global a:active {
  color: black;
}

h1, h2, h3, h4, h5, strong {
  color: darkGrey;
  line-height: 1.5em;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: calc( padding * 2);
  padding-bottom: padding;
}
