@import "variables.css";


:global * {
  box-sizing: border-box;
  margin: 0;
}

/* base font styles */
:global body {
  margin: 0;
  font-size: 18px;
  color: grey;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  overflow-x: hidden;
}

:global a {
  text-decoration: none;
}

:global a:active {
  color: black;
}
