@import "./variables.css";

.main {
  max-width: maxContentWidth;
  margin: 0 auto;
  padding: padding;
  padding-top: calc(headerHeight + padding);
}
@media (max-width: mobile) {
  .main {
    padding: calc(padding * 2);
    padding-top: calc(headerHeight + padding);
  }
}
