@import '../layouts/variables.css';


.imageNavWrapper {
  display: flex;
  justify-content: space-around;
}
@media(max-width:tablet){
  .imageNavWrapper{
    flex-wrap: wrap;
  }
}

.wrapper{
  width: 200px;
  margin: gutter;
  text-align: center;
}

.image{
  margin-bottom: gutter;
  border-radius: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
}
