@import "../layouts/variables.css";

.content {
  max-width: textBlockWidth;
  margin: 0 auto;
}

.content p, .content ul, .content pre {
  padding: padding 0;
}

.content img {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: gutter;
}

.content pre {
  display: block;
  width: 80%;
  margin: 0 auto;
  white-space: pre-wrap;
}

.content ul {
  list-style-position: inside;
}
