@import "../layouts/variables.css";


@value imageHeight: 500px;

.header {
  background-color: lightGrey;
  width:100%;
  height: 64px;
}

.wrapper {
  max-width: maxContentWidth;
  margin: 0 auto;
  padding: padding;
}

.logo{
  width: 220px; 
}
