@import "../layouts/variables.css";


@value imageHeight: 500px;

.header {
  position: fixed;
  background-color: lightGrey;
  width:100%;
  height: headerHeight;
}

.wrapper {
  max-width: maxContentWidth;
  margin: 0 auto;
  padding: padding;
}

.logo{
  width: 220px;
}
