@import "../layouts/variables.css";

.navMain{
  float: right;
  text-transform: uppercase;
  line-height: 2;
}
@media (max-width: tablet){
  .navMain{
    display: none;
  }
}

.navMain a {
  margin-left: gutter;
}

.navMain a:hover {
  color: active;
}

.navOpened {
  margin-top: calc( gutter * 3);
  font-size: 24px;
  text-transform: uppercase;
}
.navOpened a {
  display: block;
  padding: padding;
}

.navClosed {
  display: none;
}
