@import "../layouts/variables.css";

.navMain{
  float: right;
  text-transform: uppercase;
  line-height: 2;
}
@media (max-width: tablet){
  .navMain{
    display: none;
  }
}

.navMain a:hover {
  color: active;
}

.navOpened {
}

.navClosed {

}
