@import '../layouts/variables.css';


.speaker {
  display: flex;
  max-width: maxContentWidth;
  margin: gutter auto;
  padding: gutter;
  background-color: white;
}
@media (max-width: tablet){
  .speaker{
    flex-wrap: wrap;
    justify-content: center;
  }
}

.speakerImage {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: padding 60px padding 0;
  background-position: center;
  background-size: cover;
}
@media (max-width: tablet) {
  .speakerImage{
    margin: 0 auto;
  }
}
@media (max-width: mobile) {
  .speakerImage{
    width: 240px;
    height: 240px;
    margin: 0 auto;
  }
}
